<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.PatientMapper">

    <resultMap type="com.ruoyi.patient.domain.Patient" id="PatientResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="organNeeded" column="organ_needed"/>
        <result property="bloodType" column="blood_type"/>
        <result property="medicalCondition" column="medical_condition"/>
        <result property="emergencyStatus" column="emergency_status"/>
        <result property="status" column="status"/>
        <result property="hlaTyping" column="hla_typing"/>
        <result property="hbvInfected" column="hbv_infected"/>
        <result property="hcvInfected" column="hcv_infected"/>
        <result property="hivInfected" column="hiv_infected"/>
        <result property="medicalStatus" column="medical_status"/>
        <result property="selfAssessment" column="self_assessment"/>
        <result property="createTime" column="create_time"/>
        <result property="isOnDialysis" column="is_on_dialysis"/>
        <result property="dialysisType" column="dialysis_type"/>
        <result property="firstDialysisDate" column="first_dialysis_date"/>
        <result property="dialysisFrequency" column="dialysis_frequency"/>
        <result property="fileName" column="file_name"/>
        <result property="creatinine" column="creatinine"/>
        <result property="alt" column="alt"/>
        <result property="ast" column="ast"/>
        <result property="leukemia" column="leukemia"/>
        <result property="fractureLastYear" column="fracture_last_year"/>
        <result property="avascularNecrosis" column="avascular_necrosis"/>
    </resultMap>

    <!-- 获取所有患者登记信息 -->
    <select id="getAllPatients" parameterType="com.ruoyi.patient.domain.Patient" resultMap="PatientResult">
        SELECT * FROM tws_patient
        WHERE 1=1
        <if test="status != null ">
            AND status = #{status}
        </if>
        <if test="organNeeded != null ">
            AND organ_needed = #{organNeeded}
        </if>
        <if test="bloodType != null ">
            AND blood_type = #{bloodType}
        </if>
        <if test="emergencyStatus != null ">
            AND emergency_status = #{emergencyStatus}
        </if>
    </select>

    <!-- 根据患者ID获取登记信息 -->
    <select id="getPatientById" parameterType="Long" resultMap="PatientResult">
        SELECT * FROM tws_patient WHERE id = #{id}
    </select>

    <!-- 根据用户ID获取患者信息 -->
    <select id="getPatientByUserId" parameterType="Long" resultMap="PatientResult">
        SELECT * FROM tws_patient WHERE user_id = #{userId}
    </select>

    <!-- 统计紧急状态的患者人数 -->
    <select id="countEmergencyPatients" resultType="int">
        SELECT COUNT(*) FROM tws_patient WHERE emergency_status = 1
    </select>

    <select id="countPatients" resultType="int">
        SELECT COUNT(*) FROM tws_patient
    </select>

    <!-- 统计按器官需求分类的患者人数 -->
    <select id="countPatientsByOrganNeeded" resultType="map">
        SELECT organ_needed AS organNeeded, COUNT(*) AS patientCount
        FROM tws_patient
        GROUP BY organ_needed
    </select>

    <!-- 插入患者登记信息 -->
<!--    <insert id="addPatient" parameterType="com.ruoyi.patient.domain.Patient">-->
<!--        INSERT INTO tws_patient (-->
<!--            user_id, organ_needed, blood_type, medical_condition, emergency_status,-->
<!--            status, hla_typing, hbv_infected, hcv_infected, hiv_infected,-->
<!--            medical_status, self_assessment, create_time,-->
<!--            is_on_dialysis, dialysis_type, first_dialysis_date, dialysis_frequency,-->
<!--            file_name, creatinine, alt, ast, leukemia, fracture_last_year, avascular_necrosis-->
<!--        ) VALUES (-->
<!--                     #{userId}, #{organNeeded}, #{bloodType}, #{medicalCondition}, #{emergencyStatus},-->
<!--                     #{status}, #{hlaTyping}, #{hbvInfected}, #{hcvInfected}, #{hivInfected},-->
<!--                     #{medicalStatus}, #{selfAssessment}, #{createTime},-->
<!--                     #{isOnDialysis}, #{dialysisType}, #{firstDialysisDate}, #{dialysisFrequency},-->
<!--                     #{fileName}, #{creatinine}, #{alt}, #{ast}, #{leukemia}, #{fractureLastYear}, #{avascularNecrosis}-->
<!--                 )-->
<!--    </insert>-->
    <insert id="addPatient" parameterType="com.ruoyi.patient.domain.Patient" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tws_patient (
        <trim suffixOverrides=",">
            <if test="userId != null and userId != 0">user_id,</if>
            <if test="organNeeded != null">organ_needed,</if>
            <if test="bloodType != null">blood_type,</if>
            <if test="medicalCondition != null and medicalCondition != ''">medical_condition,</if>
            <if test="emergencyStatus != null">emergency_status,</if>
            <if test="status != null">status,</if>
            <if test="hlaTyping != null and hlaTyping != ''">hla_typing,</if>
            <if test="hbvInfected != null">hbv_infected,</if>
            <if test="hcvInfected != null">hcv_infected,</if>
            <if test="hivInfected != null">hiv_infected,</if>
            <if test="medicalStatus != null">medical_status,</if>
            <if test="selfAssessment != null">self_assessment,</if>
            create_time,
            <if test="isOnDialysis != null">is_on_dialysis,</if>
            <if test="dialysisType != null and dialysisType != ''">dialysis_type,</if>
            <if test="firstDialysisDate != null">first_dialysis_date,</if>
            <if test="dialysisFrequency != null">dialysis_frequency,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="creatinine != null">creatinine,</if>
            <if test="alt != null">alt,</if>
            <if test="ast != null">ast,</if>
            <if test="leukemia != null">leukemia,</if>
            <if test="fractureLastYear != null">fracture_last_year,</if>
            <if test="avascularNecrosis != null">avascular_necrosis</if>
        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
            <if test="userId != null and userId != 0">#{userId},</if>
            <if test="organNeeded != null">#{organNeeded},</if>
            <if test="bloodType != null">#{bloodType},</if>
            <if test="medicalCondition != null and medicalCondition != ''">#{medicalCondition},</if>
            <if test="emergencyStatus != null">#{emergencyStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="hlaTyping != null and hlaTyping != ''">#{hlaTyping},</if>
            <if test="hbvInfected != null">#{hbvInfected},</if>
            <if test="hcvInfected != null">#{hcvInfected},</if>
            <if test="hivInfected != null">#{hivInfected},</if>
            <if test="medicalStatus != null">#{medicalStatus},</if>
            <if test="selfAssessment != null">#{selfAssessment},</if>
            sysdate(),
            <if test="isOnDialysis != null">#{isOnDialysis},</if>
            <if test="dialysisType != null and dialysisType != ''">#{dialysisType},</if>
            <if test="firstDialysisDate != null">#{firstDialysisDate},</if>
            <if test="dialysisFrequency != null">#{dialysisFrequency},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="creatinine != null">#{creatinine},</if>
            <if test="alt != null">#{alt},</if>
            <if test="ast != null">#{ast},</if>
            <if test="leukemia != null">#{leukemia},</if>
            <if test="fractureLastYear != null">#{fractureLastYear},</if>
            <if test="avascularNecrosis != null">#{avascularNecrosis}</if>
        </trim>
        )
    </insert>


    <!-- 更新患者登记信息 -->
    <update id="updatePatient" parameterType="com.ruoyi.patient.domain.Patient">
        UPDATE tws_patient
        SET user_id = #{userId},
            organ_needed = #{organNeeded},
            blood_type = #{bloodType},
            medical_condition = #{medicalCondition},
            emergency_status = #{emergencyStatus},
            status = #{status},
            hla_typing = #{hlaTyping},
            hbv_infected = #{hbvInfected},
            hcv_infected = #{hcvInfected},
            hiv_infected = #{hivInfected},
            medical_status = #{medicalStatus},
            self_assessment = #{selfAssessment},
            is_on_dialysis = #{isOnDialysis},
            dialysis_type = #{dialysisType},
            first_dialysis_date = #{firstDialysisDate},
            dialysis_frequency = #{dialysisFrequency},
            file_name = #{fileName},
            creatinine = #{creatinine},
            alt = #{alt},
            ast = #{ast},
            leukemia = #{leukemia},
            fracture_last_year = #{fractureLastYear},
            avascular_necrosis = #{avascularNecrosis}
        WHERE id = #{id}
    </update>

    <!-- 删除患者登记信息 -->
    <delete id="deletePatient" parameterType="Long">
        DELETE FROM tws_patient WHERE id = #{id}
    </delete>

</mapper>
