<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.CourseMapper">

    <resultMap type="Course" id="CourseResult">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="courseCredits" column="course_credits"/>
        <result property="courseHours" column="course_hours"/>
        <result property="instructorId" column="instructor_id"/>
        <result property="semester" column="semester"/>
        <result property="courseDescription" column="course_description"/>
    </resultMap>

    <!-- 获取所有课程 -->
    <select id="getAllCourses" resultMap="CourseResult">
        SELECT * FROM sms_course
    </select>

    <!-- 根据课程ID获取课程信息 -->
    <select id="getCourseById" parameterType="Long" resultMap="CourseResult">
        SELECT * FROM sms_course WHERE course_id = #{courseId}
    </select>

    <!-- 添加课程 -->
    <insert id="addCourse" parameterType="Course">
        INSERT INTO sms_course (course_name, course_credits, course_hours, instructor_id, semester, course_description)
        VALUES (#{courseName}, #{courseCredits}, #{courseHours}, #{instructorId}, #{semester}, #{courseDescription})
    </insert>

    <!-- 更新课程信息 -->
    <update id="updateCourse" parameterType="Course">
        UPDATE sms_course
        SET course_name = #{courseName}, course_credits = #{courseCredits},
            course_hours = #{courseHours}, instructor_is = #{instructorId},
            semester = #{semester}, course_description = #{courseDescription}
        WHERE course_id = #{courseId}
    </update>

    <!-- 删除课程 -->
    <delete id="deleteCourse" parameterType="Long">
        DELETE FROM sms_course WHERE course_id = #{courseId}
    </delete>

</mapper>
